.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border-radius: 20px;
	margin-bottom: 20px;
	border: 2px solid var(--primary);
}
.container--image {
	padding: 10px;
	flex-basis: 30%;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 700px) {
	.container {
		display: flex;
		flex-direction: column;
	}
}
