.primary,
.secondary {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	padding: 13px 20px;
	border-radius: 10px;
	cursor: pointer;
}
.primary {
	border: 2px solid var(--darker-yellow);
	background-color: #fbebc5;
	color: var(--deep-yellow);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.secondary {
	background-color: white;
	border: 2px solid white;

	color: var(--deep-yellow);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
