.primary,
.secondary {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	padding: 13px 20px;
	border-radius: 10px;
	cursor: pointer;
	height: fit-content;
}
.primary {
	border: 2px solid var(--primary);

	background-color: var(--primary);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.secondary {
	background-color: white;
	border: 2px solid var(--primary);
	color: var(--primary);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.primary:disabled,
.secondary:disabled {
	background-color: gray;
	color: rgb(194, 194, 194);
	border: none;
	cursor: not-allowed;
}
