.card--container {
	background-color: white;
	height: fit-content;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	border-radius: 10px;
	min-width: 74px;
}
.card--icon {
	font-size: 30px;
}
.weight {
	color: #eacf6b;
}
.moves {
	color: #96d7d6;
}
.height {
	color: #e6a295;
}
.card--title {
	font-size: 14px;
	color: gray;
	margin: 10px 0px 5px 0px;
}
.card--information {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}
