html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--background);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
:root {
	--primary: #022952;
	--grayish-blue: #1b2b3d;
}
h1 {
	font-family: 'Open Sans', sans-serif;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
