html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
:root {
	--primary: #3169b6;
	--grayish-blue: #1b2b3d;
	--red: #d26065;
}
h1 {
	font-family: 'Open Sans', sans-serif;
}
.swal2-popup {
	font-family: 'Open Sans', sans-serif !important;
}
.swal2-styled {
	background-color: var(--primary) !important;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
