.title {
	text-align: center;
	color: var(--primary);
	font-weight: 800;
	font-size: 28px;
}
.container {
	font-family: 'Roboto', sans-serif;
	position: relative;
}
.container--hint {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border-radius: 20px;
	margin-bottom: 20px;
	border: 2px solid var(--primary);
}
.header {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
}
.header > button {
	position: absolute;
	left: 20px;
}
.content--wrapper {
	display: flex;
	justify-content: space-around;
	gap: 20px;
}
.content--wrapper > aside {
	flex-basis: 20%;
	display: flex;
	align-items: center;
	color: var(--primary);
}
