.title {
	text-align: center;
	color: var(--gray);
}
.container {
	font-family: 'Roboto', sans-serif;
	position: relative;
}
.container--hint {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border-radius: 20px;
	background-color: antiquewhite;
}
.header {
	display: flex;
	padding: 10px;
	align-items: center;
}
.header > h1 {
	margin: 0 auto;
}
.header > button {
	position: relative;
}
.content--wrapper {
	display: flex;
	justify-content: space-around;
}
.content--wrapper > aside {
	flex-basis: 20%;
	display: flex;
	align-items: center;
}

.content--main {
	/* background-color: aqua; */
}
